/* stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0px;
    font-family: Roboto, sans-serif;
}

.header, .page-welcome, .content-section-two {
    padding: 0px 150px 0px 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    flex-shrink: 0;
}

.header-image {
    color: #f9faf8;
    font-size: 24px;
    align-self: center;
    font-weight: bold;
}

.right-header-links {
    display: flex;
}

.page-welcome {
    display: flex;
    justify-content: space-between;
    height: 300px;
    background-color: #1f2937;
    flex-shrink: 0;
    overflow: clip;
    padding-bottom: 20px;
}

.welcome-left {
    display: flex;
    flex-direction: column;
    flex: 0 1 30%;
}

.welcome-right {
    flex: 1 1 70%;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.welcome-button {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 8px 28px 8px 28px;
    border-radius: 8px;
    border: 0;
    font-weight: 600;
    line-height: 1;
}

.picture-gallery {
    display: flex;
    padding: 40px 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 40px;
}

.picture-gallery img {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 12px;
}

.picture-gallery p {
    text-align: center;
    color: #1f2937;
    max-width: 40px;
}

.testimonial {
    padding: 40px 150px;
    background-color: #e5e7eb;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    text-align: center;
    margin-bottom: 5px;
}

.attributation {
    color: #1f2937;
    font-weight: 900;
    text-align: end;
    margin-top: 5px;
}

li {
    list-style-type: none;
    padding: 12px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

p {
    font-size: 18px;
    color: #e5e7eb;
}

h1, p {
    min-width: 275px;
}

button, button:hover {
    transition-duration: 0.4s;
    background-color: #4caf50;
    color: white;
}

h2 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}