/* stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0px;
    font-family: Roboto, sans-serif;
}

.header, .page-welcome, .content-section-two {
    padding: 0px 150px 0px 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    flex-shrink: 0;
}

.header-image {
    color: #f9faf8;
    font-size: 24px;
    align-self: center;
    font-weight: bold;
}

.right-header-links {
    display: flex;
}

.page-welcome {
    display: flex;
    justify-content: space-between;
    height: 300px;
    background-color: #1f2937;
    flex-shrink: 0;
    overflow: clip;
    padding-bottom: 20px;
}

.welcome-left {
    display: flex;
    flex-direction: column;
    flex: 0 1 30%;
}

.welcome-right {
    flex: 1 1 70%;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.welcome-button {
    border: 0;
}

.welcome-button, .sign-up-container button {
    background-color: #e3e0cd;
    color: #2e3134;
    padding: 8px 28px 8px 28px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    height: 40px;
    width: 150px;
}

.picture-gallery {
    display: flex;
    padding: 40px 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 40px;
}

.picture-gallery img {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 200px;
    height: 200px;
    border: 5px solid #2e3134;
    border-radius: 12px;
}

.picture-gallery p {
    text-align: center;
    color: #1f2937;
    max-width: 40px;
}

.testimonial {
    padding: 40px 150px;
    background-color: #e5e7eb;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    text-align: center;
    margin-bottom: 5px;
}

.attributation {
    color: #1f2937;
    font-weight: 900;
    text-align: end;
    margin-top: 5px;
}

.sign-up {
    padding: 80px 150px;
    min-width: none;
}

.sign-up-container {
    display: flex;
    background-color: #e3e0cd;
    overflow: clip;
    padding: 20px 150px;
    justify-content: space-between;
    border-radius: 12px;
    flex-wrap: wrap;
}

.sign-up-container p {
    color: #2e1d2f;
}

.sign-up-text {
    display: flex;
    width: 1px;
    flex: 1;
}

.sign-up-container button {
    border: 2px solid #2e3134;
    text-align: center;
    align-self: center;
    flex-shrink: 0;
}

p#call {
    font-weight: 900;
    font-size: 24px;
    width: 400px;
}

.sign-up-container p {
    width: 400px;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    padding: 20px 0px;

}


li {
    list-style-type: none;
    padding: 12px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

p {
    font-size: 18px;
    color: #e5e7eb;
    min-width: 200px;
}

h1 {
    min-width: 275px;
}

button {
    color: white;
}

h2 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}