/* stylesheet */

body {
    height: 100vh;
    overflow: hidden;
    margin: 0px;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 0px 150px 0px 150px;
    flex-shrink: 0;
}

.page-welcome {
    display: flex;
}

/* TODO: make sure header shrinks appropriately */

.header-image {
    color: #f9faf8;
    font-size: 24px;
    align-self: center;
    font-weight: bold;
}

.right-header-links {
    display: flex;
}

li {
    list-style-type: none;
    padding: 12px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}